<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
        <form action="/recipe" method="POST">
            <label for="title">Recipe Name:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">Recipe Snippet:</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Recipe Body:</label>
            <textarea id="body" name="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>